:root, body {
  color: #5F6368;
  background-color: #F6F6F6;
}

.container {
  margin: 0;
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  margin-top: 5rem;
  height: 3rem;
}